@model List<Entities.DTO.PersonelDetailHR>
<div class="card">
    <div class="card-header">
        <h3 style="font-weight: bold;" class="card-title float-left">Personel Listesi </h3>
        <a href="#" class="btn btn-success float-right"><i class="fa-regular fa-file-lines"></i> Fazla Mesai Listesi</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="ik-table" class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>TC Kimlik</th>
                    <th>Sicil No</th>
                    <th>Personel Ad Soyad</th>
                    <th>Departman</th>
                    <th>Bölge</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                </tr>
            </thead>
            <tbody>

                @* @{
                    int count = 1;
                    @foreach (var item in Model)
                    {
                    <tr>
                    <td>@count</td>
                    <td>@item.TCKN</td>
                    <td>@item.SicilNo</td>
                    <td>@item.DepartmanName</td>
                    <td>@item.Name @item.Surname</td>
                    <td>@item.ServiceName</td>
                    <td>@item.StationName</td>
                    <td>@item.ShiftName</td>
                    </tr>
                    count++;
                    }
                    } *@

                @foreach (var item in Model)
                {
                    <tr>
                        <td>#</td>
                        <td>@item.TCKN</td>
                        <td>@item.SicilNo</td>
                        <td>@item.Ad @item.Soyad</td>
                        <td>@item.Departman</td>
                        <td>@item.Servis</td>
                        <td>@item.Durak</td>
                        <td>@item.Vardiya</td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>
                    <th>TC Kimlik</th>
                    <th>Sicil No</th>
                    <th>Departman</th>
                    <th>Personel Ad Soyad</th>
                    <th>Bölge</th>
                    <th>Durak</th>
                    <th>Vardiya</th>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.card-body -->
</div>